{
    "printWidth": 84,
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "requirePragma": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": false
}
